
<div class="formcontent" data-ng-controller="hierarchyController">

<div class="formcontent">
    <form class="hmsform">
        <legend>Hierarchy Details</legend>
        <fieldset>
            <ul>
                <li>
                    <label>Name:<span class="required">*</span> </label>
                    <div class="col-md-4">

                        <input id="id_req" name="id_req" placeholder="Name" class="form-control input-md" type="text" required ng-model="Hierarchy.name">
                    </div>
                </li>
                <li>
                    <label>Location:<span class="required">*</span> </label>
                    <select id="ddlLocation" name="ddlLocation" style="width: 200px;" data-ng-model="ddlAssociatedLocation">
                        <option value="-1">[Select Location]</option>
                        <option data-ng-repeat="location in LocationList" value="{{location._id}}">{{location.name}}</option>
                    </select>

                </li>
                <li>
                    <label>Address:<span class="required">*</span> </label>
                    <div class="col-md-4">
                        <input id="id_req" name="id_req" placeholder="Address" class="form-control input-md" type="text" ng-model="Hierarchy.address" >
                    </div>
                </li>
                <li>
                    <label>Order:<span class="required">*</span> </label>
                    <input id="hierachyddress"  placeholder="Order "type="text" id="hierarchyOrder" ng-model="Hierarchy.order"/>
                </li>
                <li class="buttons">
                    <input type="submit" value="Cancel" class="button" ng-click="Cancel()">
                    <input type="submit" value="Save" class="button" ng-click="addHierarchy()">
                </li>
            </ul>
        </fieldset>
    </form>
    <hr/>
    <div class="datatable">
        <div class="fltright">
            <label class="label">Filter by Location</label>
            <div class="selectbox fltright">
                <select class="form-control col-md-4">
                    <option value="All" selected="">All</option>
                    <option value="Location 1" >Location 1</option>
                    <option value="Location 2">Location 2</option>
                    <option value="Location 3">Location 3</option>
                    <option value="Location 4">Location 4</option>
                </select>
            </div>
        </div>

    </div>

    <div class="datatable">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th width="25%">Name</th>
                <th>Address</th>
                <th width="80px"></th>
            </tr>
            <tr ng-repeat="hierarchy in Hierarchies">
                <td>{{hierarchy.name}}</td>
                <td>{{hierarchy.address}}</td>
                <td> <div class="icnedit" ng-click="getHierarchyById(hierarchy._id)">Edit</div>
                    <div href="#" class="icndelete" ng-click="deleteHierarchy(hierarchy._id)">Delete</div> </td>

            </tr>
        </table>
    </div>


</div>