<div data-ng-controller="assetController">
        <div class="formcontent">
            <form class="hmsform" name="assetForm" novalidate ng-show="!showList">
                <legend>Asset Details</legend>
                <fieldset>
                    <ul>

                        <li>
                            <label>Name:<span class="required">*</span> </label>
                            <div class="col-md-4">
                                <input id="id_req" name="id_req" placeholder="Name" class="form-control input-md" type="text" ng-model="asset.name">
                            </div>
                        </li>
                        <li>
                            <label>Hierarchy Name:<span class="required">*</span> </label>
                            <div class="col-md-4">
                                <div class="selectbox">
                                    <select id="ddlhierarchy" class="form-control col-md-4" data-ng-model="ddlhierarchy" data-ng-options="h._id as h.name for h in hierarchyList">
                                        <option value="" selected=""></option>

                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label><strong>Properties:</strong><span class="required">*</span> </label>
                        </li>
                        <li data-ng-repeat="prop in assetproperties">
                            <label>Property {{$index+1}}:<span class="required">*</span> </label>
                            <div>
                                <input type="text" id="propertyname"  placeholder="name" ng-model="prop.name">
                                <input type="text" id="propertyvalue" placeholder="value" ng-model="prop.value">
                            </div>
                            <input type="button" id="removeProperty" value="RemoveProperty" ng-click="removeProperty($index)" class="icndelete icons removerow">
                        </li>
                        <li class="buttons mrgtop">
                            <div class="fltright"><input type="button" id="addProperty" value="+ AddProperty" ng-click="addProperty()" class="button addbutton"></div>
                        </li>
                        <li class="buttons">
                            <input type="submit" id="btnCancel" value="Cancel" class="button" ng-click="clear()">
                            <input type="submit" id = "btnSave" value="Save" class="button" ng-click="addAsset()">
                        </li>
                    </ul>
                </fieldset>
            </form>


            <div class="datatable" ng-show="showList">
                <div class="fltright">
                    <ul class="filters">
                        <li>
                            <label class="label">Select Hospital</label>
                            <div class="selectbox fltright">
                                <select class="form-control col-md-4" id="ddlHospitals" name="" data-ng-model="ddlHospital" data-ng-options="hosp._id as hosp.name for hosp in hospitalList" data-ng-change="getLocationsByHospital()">
                                    <option value="All" selected=""></option>

                                </select>
                            </div>
                        </li>
                        <li>
                            <label class="label">Select Location</label>
                            <div class="selectbox fltright">
                                <select class="form-control col-md-4" id="ddlLocations" name="" data-ng-model="ddlLocation" data-ng-options="loc._id as loc.name for loc in locationList" data-ng-change="getHierachiesByLocation()">
                                    <option value="" selected=""></option>

                                </select>
                            </div>
                        </li>
                        <li>
                            <label class="label">Select Hierarchy</label>
                            <div class="selectbox fltright">
                                <select class="form-control col-md-4" id="ddlSelectHierarchy" name="" data-ng-model="ddlSelectHierarchy" data-ng-options="hi._id as hi.name for hi in hierarchyList" data-ng-change="displayAssetsList()">
                                    <option value="" selected=""></option>

                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="fltright"><input type="button" id = "btnAddNewAsset" value="Add New Asset" class="button addbutton button-grid" ng-click="showAssetDetails()"></div>
                        </li>
                    </ul>
                </div>

                <div class="datatable" ng-show="showList">

                    <table cellpadding="0" cellspacing="0" ng-show="showList" id="tblAsset">

                        <tr>
                            <th>Name</th>
                            <th>Properties</th>
                            <th width="80px"></th>
                        </tr>
                        <tr ng-repeat="a in assets ">
                            <td>{{a.name}}</td>
                            <td>
                                <div ng-repeat="p in a.properties">
                                {{p.name}},{{p.value}}
                                </div>
                            <!--<table>
                                <tr ng-repeat="p in a.properties">
                                    <td>{{p.name}}</td>
                                    <td>{{p.value}}</td>
                                </tr>
                            </table>-->
                            </td>
                            <td><div  class="icnedit icons" ng-click="getAssetById(a._id)">Edit</div> <div class="icndelete icons" ng-click="deleteAsset(a._id)">Delete</div> </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

</div>