
<div data-ng-controller="LocationController">
    <!-- ADD -->

    <div class="formcontent" data-ng-controller="HospitalController">
        <form class="hmsform" ng-show="!ShowList">
            <legend>Hospital</legend>
            <fieldset>
                <ul>
                    <li>
                        <label>Name<span class="required">*</span> </label>
                        <div class="col-md-4">
                            <input type="text" id="locationId" style="display:none;" ng-model="Location._id" />
                            <input id="txtLocationName" name="id_req" placeholder="Name" class="form-control input-md" type="text" required ng-model="Location.name">
                        </div>
                    </li>
                    <li>
                        <label>Address<span class="required">*</span> </label>
                        <div class="col-md-4">
                            <input id="txtLocationAddress" name="id_req" placeholder="Address" class="form-control input-md" type="text" ng-model="Location.address">
                        </div>
                    </li>
                    <li>
                        <label>Hospital<span class="required">*</span> </label>
                        <div class="col-md-4">
                            <select id="ddlHospital" name="ddlHospital" style="width: 200px;" data-ng-model="ddlAssociatedHospital">
                                <option value="-1" selected disabled>[Select Hospital]</option>
                                <option data-ng-repeat="hospital in hospitalList" value="{{hospital._id}}">{{hospital.name}}</option>
                            </select>
                        </div>
                    </li>
                    <li class="buttons">
                        <input type="submit" value="Cancel" class="button" ng-click="ShowList=!ShowList">
                        <input type="submit" value="Save" class="button" ng-click="AddHospital()">
                    </li>
                </ul>
            </fieldset>
        </form>


        <div class="datatable" ng-show="ShowList">
            <div class="fltright"><input type="button" value="Add New Location" class="button button-green" ng-click="ShowList=!ShowList"></div>
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th width="25%">Name</th>
                    <th>Address</th>
                    <th width="80px"></th>
                </tr>
                <tr ng-repeat="hospital in hospitals">
                    <td>{{hospital.name}}</td>
                    <td>{{hospital.address}}</td>
                    <td>
                        <div class="icnedit" ng-click="getHospitalById(hospital._id)">Edit</div>
                        <div href="#" class="icndelete" ng-click="DeleteHospital(hospital._id)">Delete</div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
