
<div data-ng-controller="LocationController">
    <!-- ADD -->
    <h4 style="color:#00f">Add Hospital Location</h4>
    <form name="locationForm" novalidate>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <span>Id</span>
                            </td>
                            <td>
                                <input type="text" id="locationId" ng-model="Location.Id" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Name</span>
                            </td>
                            <td>
                                <input type="text" id="locationName" ng-model="Location.Name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Address</span>
                            </td>
                            <td>
                                <input type="text" id="locationAddress" name="locationAddress" required ng-model="Location.Address" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Hospital</span>
                            </td>
                            <td>
                                <select id="ddlHospital" name="ddlHospital" style="width: 200px;" data-ng-model="ddlAssociatedHospital">
                                    <option value="-1">[Select Hospital]</option>
                                    <option data-ng-repeat="hospital in hospitalList" value="{{hospital._id}}">{{hospital.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--<input type="button" id="new" value="Clear" ng-click="clear()" />-->
                                <input type="submit" id="save" value="Save" ng-click="AddHospitalLocation()" />

                            </td>
                        </tr>
                    </table>
                    
                </td>
            </tr>
        </table>

    </form>

    <!-- EDIT -->
    <h4 style="color:#00f">Edit Hospital Location</h4>
    <form name="locationEditForm" novalidate>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <span>Id</span>
                            </td>
                            <td>
                                <input type="text" id="locationId" ng-model="EditLocation.id" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Name</span>
                            </td>
                            <td>
                                <input type="text" id="locationName" ng-model="EditLocation.name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Address</span>
                            </td>
                            <td>
                                <input type="text" id="locationAddress" name="locationAddress" required ng-model="EditLocation.address" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Hospital</span>
                            </td>
                            <td>
                                <select id="ddlHospital" name="ddlHospital" style="width: 200px;" data-ng-model="ddlEditAssociatedHospital">
                                    <option value="-1">[Select Hospital]</option>
                                    <option data-ng-repeat="hospital in hospitalList" value="{{hospital._id}}">{{hospital.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--<input type="button" id="new" value="Clear" ng-click="clear()" />-->
                                <input type="submit" id="save" value="Save" ng-click="UpdateHospitalLocation()" />

                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </form>


    <!-- LIST  -->
    <h4 style="color:#00f">Hospital Locations</h4>

    <select id="ddlHospitalFilter" name="ddlHospitalFilter" style="width: 200px;" data-ng-model="ddlFilteredHospital" ng-change="LoadHospitalLocations(ddlFilteredHospital)">
        <option value="-1">[Filter Hospital]</option>
        <option data-ng-repeat="hospital in hospitalList" value="{{hospital._id}}">{{hospital.name}}</option>
    </select>

    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Hospital</th>
        </tr>
        <tr ng-repeat="location in locationList">
            <td>{{location.name}}</td>
            <td>{{location.address}}</td>
            <td>{{location.hospitalName}}<span style="display:none;">{{location.hospitalId}}</span></td>
            <td>
                <a href="#" ng-click="EditHospitalLocation(location.id)">Edit</a>
            </td>
        </tr>
    </table>

    

</div>