

    <div class="formcontent" data-ng-controller="LocationController">
        <form name="locationForm" class="hmsform" ng-show="!ShowList">
            <legend><span>{{OperationMode}}&nbsp;</span>Location</legend>
            <fieldset>
                <ul>
                    <li>
                        <label>Name<span class="required">*</span> </label>
                        <div class="col-md-4">
                            <input type="text" id="locationId" style="display:none;" ng-model="Location._id" />
                            <input id="txtLocationName" name="id_req" placeholder="Name" class="form-control input-md" type="text" ng-required="true" ng-model="Location.name">
                        </div>
                    </li>
                    <li>
                        <label>Address<span class="required">*</span> </label>
                        <div class="col-md-4">
                            <input id="txtLocationAddress" name="id_req" placeholder="Address" class="form-control input-md" type="text" ng-required="true" ng-model="Location.address">
                        </div>
                    </li>
                    <li>
                        <label>Hospital<span class="required">*</span> </label>
                        <div class="col-md-4">
                            <select id="ddlHospital" name="ddlHospital" style="width: 200px;" required data-ng-model="Location.associatedHospital">
                                <option value="-1" selected disabled>[Select Hospital]</option>
                                <option data-ng-repeat="hospital in hospitalList" value="{{hospital._id}}">{{hospital.name}}</option>
                            </select>
                            <!--<span class="error" ng-show="myForm.service_id.$dirty && myForm.service_id.$invalid">Select service</span>
                            <span ng-show="locationForm.ddlHospital.$error.required && locationForm.ddlHospital.$dirty
                                  && locationForm.ddlHospital.$invalid">Select service</span>-->
                        </div>
                    </li>
                    <li class="buttons">
                        <input type="submit" value="Cancel" class="button" ng-click="ShowList=!ShowList">
                        <input type="submit" value="Save" class="button" ng-click="AddHospitalLocation()">
                    </li>
                </ul>
            </fieldset>
        </form>


        <div class="datatable" ng-show="ShowList">
            <div class="fltleft">
                <span style="font-size: 1.333em;line-height:40px;">Filter By Hospital&nbsp;</span>
                <select id="ddlHospitalFilter" name="ddlHospitalFilter" style="width: 200px;" data-ng-model="ddlFilteredHospital" ng-change="LoadHospitalLocations(ddlFilteredHospital)">
                    <option value="-1">[ALL]</option>
                    <option data-ng-repeat="hospital in hospitalList" value="{{hospital._id}}">{{hospital.name}}</option>
                </select>
            </div>
            <div class="fltright"><input type="button" id="btnAddLocation" value="+ Add New Location" class="button addbutton button-grid" ng-click="OpenAddHospitalLocationView()"></div>
            <table id="location-table" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="25%">Name</th>
                    <th>Address</th>
                    <th>Hospital</th>
                    <th width="80px"></th>
                </tr>
                <tr ng-repeat="location in locationList">
                    <td>{{location.name}}</td>
                    <td>{{location.address}}</td>
                    <td>{{location.hospitalName}}<span style="display:none;">{{location.hospitalId}}</span></td>
                    <td>
                        <div class="icnedit" ng-click="OpenEditHospitalLocationView(location._id)" title="Edit">Edit</div>
                        <div class="icndelete" ng-click="DeleteHospitalLocation(location._id)" title="Delete">Delete</div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
